extends layout

block file-update
  form#fileupload(method="post",action="/file_upload"  , enctype="multipart/form-data")
    p locale.fileupload.start：
    input(type="file", name="files")
    input(type="submit", value="送出")
    
block file-list
    table
        tr
            th 檔案名稱
            th 檔案大小
            th 檔案類型
        for file in files
            tr
                td 
                    p #{file.filename}
                td 
                    p #{file.filesize}
                td 
                    p #{file.filetype}
