extends layout

block file-update
    .row-fluid
        .span8
            form#fileupload(method="post",action="/file_upload"  , enctype="multipart/form-data")
                p locale.fileupload.start：
                input#files(type="file", name="files")
                input(class="btn btn-primary", type="submit", value="送出")
        



