extends layout

block content
    form#fileupload(enctype="multipart/form-data", method="get", action="/file_upload")
        div(class="row fileupload-buttonbar")
            div.span7
                span(class="btn btn-success fileinput-button")
                    i(class="icon-plus icon-white")
                    span 新增檔案
                    input(type="file", multiple="", name="files[]", multiple)
                   
                button(class="btn btn-primary start", type="submit")
                    i(class="icon-upload icon-white")
                    span 開始上傳
                button(class="btn btn-warning cancel", type="reset")
                    i(class="icon-ban-circle icon-white")
                    span 清除佇列
                button(class="btn btn-danger delete", type="button")
                    i(class="icon-trash icon-white")
                    span 刪除檔案
                input(class="toggle", type="checkbox")
            div(class="span5 fileupload-progress fade")

                div(class="progress progress-success progress-striped active", role="progressbar", aria-valuemin="0", aria-valuemax="100")
                    div(class="bar", style="width:0%;")
        div(class="fileupload-loading")
        table(class="table table-striped", role="presentation")
            tbody(class="files", data-target="#modal-gallery", data-toggle="modal-gallery")

        script#template-upload(type='text/x-tmpl')
            tr(class="template-upload fade")
                td(class="preview")
                    span(class="fade")
                td(class="name")
                    span {%=o.files[0].name%}
                td(class="size") {%=o.formatFileSize(o.files[0].size)%}
                td
                    div(class="progress progress-success progress-striped active")
                        div(style="width:0%;", class="bar")
                td(class="start")
                    button(class="btn btn-primary")
                        i(style="width:100%;",class="icon-upload icon-white")
                            span {%=locale.fileupload.start%}
        
                td(class="cancel")
                    button(class="btn btn-warning")
                        i(style="width:100%;", class="icon-ban-circle icon-white") {%=locale.fileupload.destroy%}
        script#template-download(type="text/x-tmpl").
            tr(class="template-download fade")
                td
                td(class="name")
                    span {%=o.files[0].name%}
                td(class="size")
                    span {%=o.formatFileSize(o.files[0].size)%}
                td(class="error" colspan="2")
                    span(class="label label-important") {%=locale.fileupload.error%}
                td(class="preview")
                    a(href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}")
                        img(src="{%=file.thumbnail_url%}")
                td(class="name")
                    a(href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}") {%=file.name%}
                td(class="size")
                    span {%=o.formatFileSize(file.size)%}
                td(colspan="2")
                td(class="delete")
                    button(class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}")
                        i(class="icon-trash icon-white")
                        span {%=locale.fileupload.destroy%}
                    input(type="checkbox" name="delete" value="1")

