doctype 5
html
  head
    script(src="javascripts/layout_config.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block file-update
    
    block file-list
    
    block file-info
