body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
 	color: #00B7FF;
}

.margin-bottom{
	margin-bottom: 20px;
}

.margin-left{
	margin-left: 50px;
}

.margin-right{
	margin-right: 50px;
}
.leftfloat{
	float:left;
}

.center{
	text-align: center;
}

.background{
	background: E5E5E5;
}
